<%= devise_error_messages! %>
<div class="panel panel-default devise-bs">
  <div class="panel-heading">
    <h4><%= t('.sign_up', :default => "Sign up") %></h4>
  </div>
  <div class="panel-body">
    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <div class="row">
        <div class="col-lg-6">
          <%= f.input :name, autofocus: true, class: "form-control", required: 'required' %>
        </div>
        <div class="col-lg-6">
          <%= f.input :surname, autofocus: true, class: "form-control", required: 'required' %>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <%= f.input :document_id, autofocus: true, class: "form-control", required: 'required' %>
        </div>
        <div class="col-lg-6">
          <%= f.input :email, autofocus: true, class: "form-control", required: 'required' %>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <%= f.label :city %>
            <%= f.select(:city, options_for_select(@cities), {}, class: "form-control") %>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <%= f.label :bank_department %>
            <%= f.select(:bank_department, options_for_select(@bank_departments), {}, class: "form-control") %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <%= f.input :password, class: "form-control" %>
        </div>
        <div class="col-lg-6">
          <%= f.input :password_confirmation, class: "form-control" %>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <h4>Preferences</h4>
          <hr/>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2">
          <%= check_box_tag(:prefs_music) %>
          <label>I like Music</label>
        </div>
        <div class="col-lg-2">
          <%= check_box_tag(:prefs_sports) %>
          <label>I like Sports</label>
        </div>
        <div class="col-lg-2">
          <%= check_box_tag(:prefs_reading) %>
          <label>I like Reading</label>
        </div>
        <div class="col-lg-2">
          <%= check_box_tag(:prefs_cooking) %>
          <label>I like Cooking</label>
        </div>
        <div class="col-lg-2">
          <%= check_box_tag(:prefs_travel) %>
          <label>I like Travel</label>
        </div>
        <div class="col-lg-2">
          <%= check_box_tag(:prefs_art) %>
          <label>I like Art</label>
        </div>
      </div>
      <br/>
      <%= f.submit t('.sign_up', :default => "Sign up"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<%= render "devise/shared/links" %>
