<% content_for :panel_title do %>
    <%= t('my_referrals') %>
<% end %>

<% content_for :panel_body do %>
    <%= render 'shared/messages', flash: flash %>

    <table class="table table-responsive table-striped table-hover" id="datatable">
    <thead>
    <tr>
      <th><%= t('name') %></th>
      <th><%= t('surname') %></th>
      <th><%= t('status') %></th>
      <th><%= t('referred_on') %></th>
    </tr>
    </thead>
    <tbody>
    <% @referrals.each do | referral| %>
        <tr>
          <td><%=referral.name %></td>
          <td><%=referral.surname %></td>
          <td><%=referral.status %></td>
          <td><%=referral.created_at %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

